<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mesabaseballexhibit">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MesaBaseballExhibit">

        <activity android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Your existing MainActivity -->
        <activity android:name=".MainActivity" />

        <!-- Declare additional activities -->
        <activity android:name=".features.trivia.SelectDifficultyActivity" />
        <activity android:name=".features.trivia.TriviaActivity" />
        <activity android:name=".features.players.PlayerActivity" />
        <activity android:name=".features.TeamListActivity" />
        <activity android:name=".features.HistoricalHighlightsActivity" />
        <activity android:name=".features.timeline.TimelineActivity"/>
        <activity android:name=".features.HallOfFameActivity"/>
        <activity android:name=".features.InducteeListActivity">
        </activity>

    </application>
</manifest>

